h1 {
  color: gold;
  font-size: 2rem;
  width: 30%;
}

a {
  text-decoration: none;
}

.navbar {
  height: 5rem;
  background-color: rgb(90, 142, 238);
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.links {
  display: flex;
  align-items: center;
  width: 100%;
}

.link {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}
